<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.patientsList">Paciente </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Perfil Del Paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info">
                                    <h4>Perfil Del Paciente  <span><a href="javascript:;"><i class="feather icon-more-vertical"></i></a></span></h4>
                                </div>
                                <div class="doctor-profile-head">
                                    <div class="profile-bg-img">
                                        <img  src="assets/img/profile-bg.jpg"  alt="Profile">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box">
                                                <div class="profile-user-img">
                                                    <img  src="assets/img/profile-user-01.jpg"  alt="Profile">
                                                    <div class="form-group doctor-up-files profile-edit-icon mb-0">
                                                        <div class="uplod d-flex">
                                                            <label class="file-upload profile-upbtn mb-0">
                                                                <img  src="assets/img/icons/camera-icon.svg"  alt="Profile"><input type="file">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="names-profiles">
                                                    <h4>Smith Bruklin</h4>
                                                    <h5>Ingeniero</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="doctor-follows">
                                                    <h5>Seguidores</h5>
                                                    <h4>850</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Siguiendo</h5>
                                                    <h4>18K</h4>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>Publicaciones</h5>
                                                    <h4>250</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-btn-group">
                                                <button type="submit" class="btn btn-info follow-btns">Seguir</button>
                                                <button type="submit" class="btn btn-info message-btns">Mensaje</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail ">
                                        <h4 class="mb-3">Acerca De Mi</h4>
                                        <p>Hola, soy Smith Bruklin, ginecólogo del Hospital Sanjivni Surat. Me encanta trabajar con todo el personal de mi hospital y los médicos experimentados.</p>
                                    </div>
                                    <div class="about-me-list">
                                        <ul class="list-space">
                                            <li>
                                                <h4>Genero</h4>
                                                <span>Masculino</span>
                                            </li>
                                            <li>
                                                <h4>Operaciones Realizada</h4>
                                                <span>30+</span>
                                            </li>
                                            <li>
                                                <h4>Designacion</h4>
                                                <span>Ingeniero</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="heading-detail">
                                        <h4>Habilidades:</h4>
                                    </div>
                                    <div class="skill-blk">
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Latido Del Corazon</h5>
                                                <p>45%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-operations" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Hemoglobina</h5>
                                                <p>85%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-haemoglobin" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Presion Arterial</h5>
                                                <p>65%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-statistics" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="skill-statistics">
                                            <div class="skills-head">
                                                <h5>Azucar </h5>
                                                <p>90%</p>
                                            </div>
                                            <div class="progress mb-0"  >
                                                <div class="progress-bar bg-visit" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content-set">
                                        <ul class="nav">
                                            <li>
                                                <a [routerLink]="routes.patientProfile" ><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-02.svg" alt=""></span>Acerca De Mi</a>
                                            </li>
                                            <li>
                                                <a [routerLink]="routes.patientSetting" class="active"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-16.svg" alt=""></span>Ajustes</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="setting-form-blk">
                                        <form>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-heading">
                                                        <h4>Configuracion De Cuenta</h4>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label >Nombre De Usuario </label>
                                                        <input class="form-control" type="text" value="smith@29" >
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label >Movil </label>
                                                        <input class="form-control" type="text" value="+1 43 456890" >
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label >Email </label>
                                                        <input class="form-control" type="email" value="smithbruklin@info.com" >
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12">
                                                    <div class="form-group local-forms">
                                                        <label>Dirreccion  <span class="login-danger">*</span></label>
                                                        <textarea class="form-control" rows="3" cols="30">101, Apartamentos Elanxa, 340 N Avenida Madison</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-heading">
                                                    <h4>Configuracion De Seguridad</h4>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group local-forms">
                                                    <label >Contraseña Actual </label>
                                                    <input class="form-control" type="password" value="12345" >
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group local-forms">
                                                    <label >Nueva Contraseña </label>
                                                    <input class="form-control" type="password" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="form-group local-forms">
                                                    <label >Confirmar Contraseña </label>
                                                    <input class="form-control" type="password" placeholder="" >
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12">
                                                <div class="profile-check-blk form-group">
                                                    <div class="remember-me">
                                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Visibilidad de perfil para todos
                                                        <input type="checkbox" name="radio" checked>
                                                        <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="remember-me">
                                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Notificaciones de nuevas tareas
                                                        <input type="checkbox" name="radio" checked>
                                                        <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="remember-me">
                                                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Notificaciones de solicitud de nuevo amigo
                                                        <input type="checkbox" name="radio">
                                                        <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="doctor-submit">
                                                    <button type="submit" class="btn btn-primary submit-form me-2">Enviar</button>
                                                    <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
